%h1= @title

%form{ action: "/update/#{@card.id}", method: "post", id: "card" }
	
	%input{ type: "hidden", name: "card[id]", id: "id", value: "#{@card.id}" }

	.admin-form

		%p
			%label Card Text
			%br
			%input{ type: "text", name: "card[cardtext]", id: "cardtext", value: "#{@card.cardtext}" }

		%p
			%label Color
			%br
			%input{ type: "text", name: "card[color]", id: "color", value: "#{@card.color}" }

		%p
			%label Set
			%br
			%input{ type: "text", name: "card[set]", id: "set", value: "#{@card.set}" }

		%p
			%label Tags
			%br
			%input{ type: "text", name: "card[tags]", id: "tags", value: "#{@card.tags}" }

		%p
			%label Draw
			%br
			%input{ type: "text", name: "card[draw]", id: "draw", value: "#{@card.draw}" }

		%p
			%label Pick
			%br
			%input{ type: "text", name: "card[pick]", id: "pick", value: "#{@card.pick}" }

		%p
			%input{ type: "submit", class: "btn" }